@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #0A1929;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}